# 示例：
# 以@test 开头的包从 registry=https://npm.xx.com 这里下载，其余全去淘宝镜像下载。
# registry=https://registry.npm.taobao.org/
# @test:registry = https://npm.xx.com

# 华为云
registry=https://mirrors.huaweicloud.com/repository/npm/
# npm config set registry https://mirrors.huaweicloud.com/repository/npm/
# npm cache clean --force
# npm config delete registry
# /usr/bin/python3


# 阿里云
# registry=https://npm.aliyun.com

# python=/usr/bin/python3

# node_gyp=/Users/lisai/.nvm/versions/node/v16.18.1/lib/node_modules/node-gyp/bin/node-gyp.js